.article__header {
  margin-block-end: var(--spacing-l);
}

.article__title,
.article__date {
  margin-block-start: 0;
}

.article__title {
  margin-block-end: var(--spacing-xs);
}

.article__date {
  font-size: var(--text-xs);
}

.article__toc {
  margin-block: var(--spacing-l);

  ol {
    counter-reset: item;
    padding-inline-start: var(--spacing-m);
  }

  li {
    display: block
  }

  li:before {
    content: counters(item, ".") ". ";
    counter-increment: item
  }
}

.article__footer {
  margin-block-start: var(--spacing-xl);
}