* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background);
  font-size: 1em;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-paragraph);
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 400;
  line-height: var(--line-default);
}

li,
p {
  font-size: var(--text-s);
}

a {
  color: var(--text-link);
  
  &:hover,
  &:focus {
    background-color: var(--color-primary-3);
    border-radius: var(--border-radius-s);
    color: var(--text-link-hover);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-heading);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;

  &:target {
    scroll-margin-block: var(--spacing-l);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-end: var(--spacing-m);
  margin-block-start: var(--spacing-s);
}

h1,
h2,
h3 {
  line-height: 1.4;
}

h1,
.h1 {
  font-size: var(--text-xl);
}

h2,
.h2 {
  font-size: var(--text-l);
}

h3,
.h3 {
  font-size: var(--text-m);
}

h4,
.h4 {
  font-size: var(--text-s);
  font-weight: 700;
}

h5,
.h5 {
  font-size: var(--text-s);
  font-style: italic;
}

h6,
.h6 {
  font-size: var(--text-xs);
}

strong {
  color: var(--text-paragraph-emphasis);
  font-weight: 700;
}

img {
  height: auto;
  max-width: 100%;
}

svg {
  fill: currentColor;
}

pre {
  /* Use custom background colour */
  background-color: var(--color-primary-9) !important;
  border-radius: var(--border-radius-s);
  font-size: var(--text-xs);
  padding: var(--spacing-m) var(--spacing-m);
  overflow-x: auto;
}

blockquote {
  border-left: 4px solid var(--color-primary-3);
  padding-inline-start: var(--spacing-m);
}