.blog__list {
  display: grid;
  gap: var(--spacing-m);
}

.blog__meta {
  margin-block-end: var(--spacing-3xs);
  margin-block-start: var(--spacing-xs);
}

.blog__list-item-tags {
  align-items: center;
  display: flex;
  gap: var(--spacing-xs);
}
