.footer {
  border-top: 2px solid var(--color-primary-5);
  margin-block: var(--spacing-5xl) var(--spacing-2xl);
  padding-block-start: var(--spacing-s);

  p {
    margin-block-end: var(--spacing-xs);
  }
}