.header {
  margin-block: var(--spacing-2xl);
}

.header__title {
  margin: 0;
}

.header__title-link {
  align-items: flex-end;
  display: flex;
  gap: var(--spacing-xs);
  text-decoration: none;
}

.header__navigation {
  display: flex;
  gap: var(--spacing-s);

  a {
    font-size: var(--text-s);
  }
}

@media screen and (min-width: 768px) {
  .header__row {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  } 
}