.container {
  margin-inline: auto;
  max-width: 50rem;
  width: calc(100% - var(--spacing-xl));
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.margin-reset {
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
}

.list--flex {
  align-items: center;
  display: flex;
  gap: var(--spacing-xs);
}

.list--unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skiplink {
  position: absolute;
  left: -1000px;
  z-index: 2;
  top: 0;
  padding: var(--spacing-xs) var(--spacing-l);

  &:focus-visible {
    left: 0;
  }
}

.button.outline {
  color: var(--color-neutral-0);
  border: 1px solid var(--color-primary-3);
  border-radius: var(--border-radius-s);
  padding: var(--spacing-3xs) var(--spacing-xs);
  text-decoration: none;

  &:hover {
    background-color: var(--color-primary-3);
    color: var(--text-link-hover);
    
  }
}

@supports not selector(:focus-visible) {
  .skiplink:focus {
    left: 0;
  }
}

a.bubble {
  background-color: var(--color-primary-2);
  border: 0;
  border-radius: var(--border-radius-s);
  color: var(--color-primary-9);
  padding-inline: var(--spacing-2xs);

  &:hover {
    background-color: var(--color-primary-6);
    color: var(--color-neutral-0);
  }
}

.text--lighter {
  color: var(--color-neutral-2);
}