.blog__pagination {
  margin-block-start: var(--spacing-l);
}

.blog__pagination-arrow {
  display: flex;
  align-items: center;
  gap: var(--spacing-2xs);
  
  svg {
    height: 20px;
    width: 20px;
  }
}

.blog__pagination-link {
  &:not(.blog__pagination-arrow) {
    display: block;
  }

  &[aria-current="page"] {
    background-color: var(--color-primary-3);
    color: var(--text-link-hover);
  }
}