/**
 * Root properties.
 *
 * All pixel calculations assume 1em = 16px.
 */

:root {
  /**
   * Border radii.
   */
  --border-radius-s: 0.25rem; /* 4px */
  --border-radius-m: 0.5rem; /* 8px */
  --border-radius-l: 1rem; /* 16px */

  /**
   * Colours.
   * https://accessiblepalette.com/?lightness=97,92,82,72,47,36,25,14,7.5,4.3&a0ba97=0,0&0F0F0F=0,0
   */

  /* neutral - black through white */
  --color-neutral-0: #f8f8f8;
  --color-neutral-1: #e8e8e8;
  --color-neutral-2: #cccccc;
  --color-neutral-3: #b0b0b0;
  --color-neutral-4: #636363;
  --color-neutral-5: #4a4a4a;
  --color-neutral-6: #424242;
  --color-neutral-7: #262626;
  --color-neutral-8: #171619;
  --color-neutral-9: #0f0f0f;

  /* green - primary */
  --color-primary-0: #f5f7f1;
  --color-primary-1: #e3eae0;
  --color-primary-2: #c0d1ba;
  --color-primary-3: #9eb895;
  --color-primary-4: #64745e;
  --color-primary-5: #4c5848;
  --color-primary-6: #353e32;
  --color-primary-7: #20251e;
  --color-primary-8: #141713;
  --color-primary-9: #0d100d;

  /**
   * Colours - light mode.
   */
  --color-background: var(--color-primary-1);
  --color-background-deemphasis: var(--color-neutral-1);
  --color-background-emphasis: var(--color-primary-9);

  --color-border-decoration: var(--color-primary-2);
  --color-border-emphasis: var(--color-neutral-3);

  --color-link: var(--color-primary-7);
  --color-link-background: transparent;
  --color-link-background-hover: var(--color-primary-2);
  --color-link-emphasis: var(--color-neutral-0);
  --color-link-hover: var(--color-neutral-8);

  --color-text: var(--color-neutral-8);
  --color-text-deemphasis: var(--color-neutral-7);
  --color-text-emphasis: var(--color-neutral-9);

  /**
   * Text sizes.
   */
  --text-base: 1rem; /* 16px */
  --typescale-ratio: 1.2; /* Minor third */

  --text-xs: calc(var(--text-base) / var(--typescale-ratio));
  --text-s: var(--text-base);
  --text-m: calc(var(--text-s) * var(--typescale-ratio));
  --text-l: calc(var(--text-m) * var(--typescale-ratio));
  --text-xl: calc(var(--text-l) * var(--typescale-ratio));

  /**
   * Icon sizes.
   */
  --icon-xs: 0.5rem; /* 8px */
  --icon-s: 1rem; /* 16px */
  --icon-m: 1.5rem; /* 24px */

  /**
   * Line heights.
   */
  --line-baseline: 100%;
  --line-default: 1.5;

  /**
   * Spacing.
   */
  --spacing-3xs: 0.125rem; /* 2px */
  --spacing-2xs: 0.25rem; /* 4px */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-s: 0.75rem; /* 12px */
  --spacing-m: 1rem; /* 16px */
  --spacing-l: 1.5rem; /* 24px */
  --spacing-xl: 2rem; /* 32px */
  --spacing-2xl: 2.5rem; /* 40px */
  --spacing-3xl: 3rem; /* 48px */
  --spacing-4xl: 3.5rem; /* 56px */
  --spacing-5xl: 4rem; /* 64px */
  --spacing-6xl: 4.5rem; /* 72px */
  --spacing-7xl: 5rem; /* 80px */
  --spacing-8xl: 5.5rem; /* 88px */
  --spacing-9xl: 6rem; /* 96px */

  /**
   * Media queries.
   */
  @media screen and (min-width: 1024px) {
    /**
     * Text sizes.
     */
    --text-base: 1.125rem; /* 18px */
  }
}

/**
 * Colours - dark mode.
 */
html[data-theme="dark"],
html[data-theme="dark system"] {
  --color-background: var(--color-primary-8);
  --color-background-deemphasis: var(--color-neutral-7);
  --color-background-emphasis: var(--color-primary-9);

  --color-border-emphasis: var(--color-neutral-3);
  --color-border-decoration: var(--color-primary-6);
  
  --color-link: var(--color-primary-1);
  --color-link-background: transparent;
  --color-link-background-hover: var(--color-primary-3);
  --color-link-emphasis: var(--color-neutral-0);
  --color-link-hover: var(--color-neutral-1);

  --color-text: var(--color-neutral-1);
  --color-text-deemphasis: var(--color-neutral-2);
  --color-text-emphasis: var(--color-neutral-0);

  img {
    filter: brightness(75%);
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-primary-8);
    --color-background-deemphasis: var(--color-neutral-7);
    --color-background-emphasis: var(--color-primary-9);

    --color-border-emphasis: var(--color-neutral-3);
    --color-border-decoration: var(--color-primary-6);
    
    --color-link: var(--color-primary-1);
    --color-link-background: transparent;
    --color-link-background-hover: var(--color-primary-3);
    --color-link-emphasis: var(--color-neutral-0);

    --color-text: var(--color-neutral-1);
    --color-text-deemphasis: var(--color-neutral-2);
    --color-text-emphasis: var(--color-neutral-0);
  }

  img {
    filter: brightness(75%);
  }
}
