{# 
  Template: Article Renders article (blog post) page. #} 
  
{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ get_url(path='css/article.css', trailing_slash=false) | safe }}" />

<article>
  <header>
    <h1 class="article__title">{{ page.title }}</h1>

    <p class="text--lighter">
      Published <time pubdate datetime="{{ page.date }}">{{ page.date | date(format="%d %B %Y") }}</time>
    </p>
  </header>

  {% if page.extra %}
    <p>{{ page.extra.excerpt }}</p>
    <!-- more -->
  {% endif %}

  <aside class="article__toc">
    {% if page.toc %}
    <h2>Table of contents</h2>
    <ol>
      {% for h2 in page.toc %}
      <li>
        <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
        {% if h2.children %}
        <ol>
          {% for h3 in h2.children %}
          <li>
            <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
            <ol>
              {% for h4 in h3.children %}
              <li>
                <a href="{{ h4.permalink | safe }}">{{ h4.title }}</a>
                <ol>
                  {% for h5 in h4.children %}
                  <li>
                    <a href="{{ h5.permalink | safe }}">{{ h5.title }}</a>
                    <ol>
                      {% for h6 in h5.children %}
                      <li>
                        <a href="{{ h6.permalink | safe }}">{{ h6.title }}</a>
                      </li>
                      {% endfor %}
                    </ol>
                  </li>
                  {% endfor %}
                </ol>
              </li>
              {% endfor %}
            </ol>
          </li>
          {% endfor %}
        </ol>
        {% endif %}
      </li>
      {% endfor %}
    </ol>
    {% endif %}
  </aside>

  {{ page.content | safe }}

  <footer class="article__footer">
    {% if page.taxonomies.tagged %}
      <p class="text--lighter">Tagged: {% for tag in page.taxonomies.tagged %}<a href="/tagged/{{ tag | slugify }}">{{ tag }}</a>{% if loop.last == false %}, {% endif %}{% endfor %}</p>
    {% endif %}
  </footer>
</article>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ page.title }}",
    "datePublished": "{{ page.date | date(format="%+") }}",
    "author": [
      {
        "@type": "Person",
        "name": "Georgia Bains",
        "url": "{{ get_url(path='@/about.md') }}"
      }
    ]
  }
</script>
{% endblock content %}