{#
  Template: Article

  Renders article (blog post) page.
#}
{% extends "base.html" %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ get_url(path='css/article.css', trailing_slash=false) | safe }}" />
{% endblock css %}

{% block content %}
  <article>
    <header>
      <h1 class="article__title">
        {{ page.title }}
      </h1>

      <p class="article__date">
        Published <time datetime="{{ page.date }}">{{ page.date | date(format="%d %B %Y") }}</time>
      </p>
    </header>
  
    {{ page.content | safe }}
  </article>
{% endblock content %}