{# 
  Template: Base

  Basic layout of every page with the bare minimum HTML.
#}
<!DOCTYPE html>
<html lang="en-GB">

<head>
  {% block head %}
    <meta charset="utf-8">
    {% if page.title %}
      {% set title = page.title ~ " - Georgia Bains" %}
    {% elif section.title %}
      {% set title = section.title ~ " - Georgia Bains" %}
    {% elif config.title %}
      {% set title = config.title %}
    {% else %}
      {% set title = "Georgia Bains" %}
    {% endif %}
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{ get_url(path='favicon.ico') }}">

    {% block css %}
      <style>
        @font-face {
          font-display: swap;
          font-family: "Atkinson Hyperlegible";
          src:
            local("Atkinson Hyperlegible"),
            url("{{ get_url(path='fonts/atkinson-hyperlegible/AtkinsonHyperlegible-Regular.ttf', trailing_slash=false) | safe }}") format("truetype");
        }
      </style>
      <link rel="stylesheet" type="text/css" href="{{ get_url(path='css/variables.css', trailing_slash=false) | safe }}" />
      <link rel="stylesheet" type="text/css" href="{{ get_url(path='css/base.css', trailing_slash=false) | safe }}" />
      <link rel="stylesheet" type="text/css" href="{{ get_url(path='css/helpers.css', trailing_slash=false) | safe }}" />
    {% endblock css %}

    <script>
      /* Prevent Firefox FOUC */
      let FF_FOUC_FIX;
    </script>
  {% endblock head %}
</head>

<body class="container">
  {% include "partial/header.html" %}

  <main>
    {% block content %} {% endblock %}
  </main>

  {% include "partial/footer.html" %}
</body>
</html>