<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  {% if page.title %}
    {% set title = page.title %}
  {% elif section.title %}
    {% set title = section.title %}
  {% elif config.title %}
    {% set title = config.title %}
  {% else %}
    {% set title = "Georgia Bains" %}
  {% endif %}
  <title>{{ title }}</title>

  <link rel="stylesheet" type="text/css" href="{{ get_url(path='css/base.css', trailing_slash=false) | safe }}" />
</head>

<body>
  <main>
    {% block content %} {% endblock %}
  </main>
</body>

</html>