{#
  Template Partial: Footer

  Renders global semantic <footer> element.
#}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ get_url(path='css/footer.css', trailing_slash=false) | safe }}" />
{% endblock css%}

<footer class="footer">
  <div class="footer-columns">
    <div class="footer-disclaimers">
      <p class="footer-title h3">Disclaimers</p>
      <p><a href="https://umami.is/">Umami analytics</a> are active on this website. All data is anonymised and no cookies are set.</p>
      <p>I do not use AI.</p>
    </div>

    <div>
      <p class="footer-title h3">Socials</p>
      <ul class="footer__links-column list--unstyled">
        <li>
          <a href="https://github.com/georgiabains" class="footer__link" rel="me">
            {{ load_data(path='icons/github.svg', trailing_slash = false) | safe }}
            <span class="footer__social-link-label">GitHub</span>
          </a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/georgia-bains/" class="footer__link" rel="me">
            {{ load_data(path='icons/linkedin.svg', trailing_slash = false) | safe }}
            <span class="footer__social-link-label">LinkedIn</span>
          </a>
        </li>
      </ul>
    </div>

    <div>
      <p class="footer-title h3">Pages</p>
      <ul class="footer__links-column list--unstyled">
        <li>
          <a 
            {% if current_path == '/accessibility-statement/' %}aria-current="page"{% endif %}
            href="{{ get_url(path='@/accessibility-statement.md', trailing_slash=false) | safe }}"
            class="footer__link"
          >
            Accessibility Statement
          </a>
        </li>

        <li>
          <a 
            {% if current_path == '/colophon/' %}aria-current="page"{% endif %}
            href="{{ get_url(path='@/colophon.md', trailing_slash=false) | safe }}"
            class="footer__link"
          >
            Colophon
          </a>
        </li>

        <li>
          <a 
            {% if current_path == '/contact/' %}aria-current="page"{% endif %}
            href="{{ get_url(path='@/contact.md', trailing_slash=false) | safe }}"
            class="footer__link"
          >
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>

  <p class="footer-copyright">&#169; Georgia Bains {{ now() | date(format="%Y") }}</p>
</footer>