{#
  Template Partial: Footer

  Renders global semantic <footer> element.
#}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ get_url(path='css/footer.css', trailing_slash=false) | safe }}" />
{% endblock css%}

<footer class="footer">
  <ul class="footer__social-links list--unstyled">
    <li>
      <a href="" class="footer__social-link" rel="me">
        {{ load_data(path='icons/github.svg', trailing_slash = false) | safe }}
        <span class="footer__social-link-label">GitHub</span>
      </a>
    </li>

    <li>
      <a href="" class="footer__social-link" rel="me">
        {{ load_data(path='icons/linkedin.svg', trailing_slash = false) | safe }}
        <span class="footer__social-link-label">LinkedIn</span>
      </a>
    </li>
  </ul>

  <p>Built on <a href="https://www.getzola.org/">Zola</a>. Syntax highlighting is <a href="https://github.com/mjio/boron.tmtheme">Boron</a> with a custom background colour.</p>
  <p>&#169; Georgia Bains {{ now() | date(format="%Y") }}</p>
</footer>