{#
  Template Partial: Header

  Renders global semantic <header> element with navigation links.
#}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ get_url(path='css/header.css', trailing_slash=false) | safe }}" />
{% endblock css %}

<header class="header">
  <a href="#main" class="header__skip skip-link">Skip to main content</a>

  {% set header_element = 'h1' %}
  {% if current_path != '/' %}
    {% set header_element = 'h2' %}
  {% endif %}

  <{{ header_element }} class="h3 header__title">
    {% set image = resize_image(path='media/logo.png', width=96, height=96) %}
    
    <a class="header__title-link" href="{{ get_url(path='/') | safe }}">
      <img src="{{ image.url }}" alt="" width="48" height="48" fetchpriority="high" />
      {{ config.title }}
    </a>
  </{{ header_element }}>

  <nav>
    <ul class="header__navigation list--unstyled">
      <li>
        <a
          {% if current_path == '/about/' %}aria-current="page"{% endif %}
          href="{{ get_url(path='@/about.md', trailing_slash=false) | safe }}"
        >
          About
        </a>
      </li>

      <li>
        <a 
          {% if current_path == '/blog/' %}aria-current="page"{% endif %}
          href="{{ get_url(path='@/blog/_index.md') }}"
        >
          Blog
        </a>
      </li>
    </ul>
  </nav>
</header>